

<!--  form for variable post .. it will go look in the controller for action create -->
<!--  inside that action it will look for the variable you specify the form to save-->
<!--  in all cases it will be a variable in which you are storing -->
<!--  the new object in so the object you created calling the .new method on it-->
<%= form_for(@post) do |instance_post| %>
  <ul>
    <!--  calls the error method on article and passes it on the full message if nil it will spit out an error -->
  <% @post.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>

        <!--  calls the label method on the instance of the post so is specifys the column-->
  <p>
    <%= instance_post.label :title %><br />
    <!--  calls the text_field method on the instance of the post and assigns it to the column you refer to in label--><!--  -->
    <!--  field means is not a lot -->
    <%= instance_post.text_field :title %>
  </p>

    <!--  calls the label method on the instance of the post so is specifys the column-->
  <p>
    <%= instance_post.label :body %><br />
    <!--  calls the text_area method on the instance of the post and assigns it to the column you refer to in label--><!--  -->
    <!--  area means is expect a lot -->
    <%= instance_post.text_area :body %>
  </p>
  <p>
    <!--  calls the submit method on the instance of the post so it saves this new object in the variable you refer to for this form-->
    <%= instance_post.submit 'save this sir', class: "save_boton" %>
  </p>
<% end %>
